@use '@/shared/styles/_variables.scss' as *;


.mail {
  @include section;

  .inner {
    @include container;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .content {
    width: 100%;
  }

  .form {
    opacity: 0;
    display: flex;
    min-width: $site-min-width;
    align-items: center;
    justify-content: center;
  }
}


.formControl {
  font-size: 20px;
  background-color: $c-primary-shade;
  box-shadow: $box-shadow-main;
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: $card-padding;
  border-radius: $border-radius;

  .formInputs {
    padding-bottom: 50px;

    .inputField {
      width: 100%;
      display: flex;
      flex-direction: column;

      .label {
        color: $c-secondary;
        padding-bottom: 10px;
        padding-top: 10px;
      }

      .input {
        outline: none;
        width: 100%;
        height: 45px;
        border-radius: 8px;
        border: 3px solid $c-secondary;
        background: transparent;
        color: $c-secondary;
        padding: 10px;

        &:focus {
          border: 3px solid $c-accent;
          caret-color: $c-accent;

          &::placeholder {
            color: transparent;
          }

        }

        &:last-child {
          height: auto;
        }
      }
    }
  }

  .submitBtn {
    font-weight: 600;
    height: auto;
  }


}