ol,
ul {
    list-style: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    display: block;
    line-height: 1.2;
}



input,
button,
select,
textarea {
    font: inherit;
}

input {
    line-height: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

select {
    text-align: left;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background-color: transparent;
    border: none;
    font: inherit;
    cursor: pointer;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}