// =====================================
// Темы
// =====================================
$themes: (
    light: (primary: #ffffff,
        primary--shade:#f8f8f8,
        secondary: #181818,
        accent: #24acf2,
        red: #c04040,
        green: #2c922c),
    dark: (primary: #1f1f1f,
        primary--shade:#181818,
        secondary: #f8f8f8,
        accent: #24acf2,
        red: #c04040,
        green: #2c922c),
    green: (primary: #002b36,
        primary--shade:#001a21,
        secondary: #f8f8f8,
        accent: #2fbeb3,
        red: #cb4b16,
        green: #586e75),
    purple: (primary: #292d3e,
        primary--shade:#1e212e,
        secondary: #f8f8f8,
        accent: #c792ea,
        red: #ff5370,
        green: #c3e88d),
    abyss: (primary:#060621,
        primary--shade:#040417,
        secondary: #f8f8f8,
        accent: #ac74cf,
        red: #c04040,
        green: #2c922c),
    tomorrow-night-blue: (primary: #002451,
        primary--shade: #001a3a,
        secondary: #f8f8f8,
        accent: #1b97c7,
        red: #ff9da4,
        green: #d1f1a9),
    monokai: (primary: #272822,
        primary--shade:#1e1f1c,
        secondary: #f8f8f2,
        accent: #f92672,
        red: #fd971f,
        green: #a6e22e),
    solarized-dark: (primary: #002b36,
        primary--shade: #001f27,
        secondary: #f8f8f8,
        accent: #b58900,
        red: #dc322f,
        green: #859900)
);


// =====================================
// Кольори
// =====================================
$c-primary: var(--primary);
$c-primary-shade: var(--primary--shade);
$c-secondary: var(--secondary);
$c-accent: var(--accent);
$c-red: var(--red);
$c-green: var(--green);

//
//
//
$c-error: $c-red;
$c-success: $c-green;

$overlay-opacity: 0.6;
$c-overlay: rgba(0, 0, 0, $overlay-opacity);

//
//
//
$box-shadow-main: 0 0px 4px rgba(0, 0, 0, $overlay-opacity);
$box-shadow-hoover: 0 0px 10px rgba(0, 0, 0, $overlay-opacity);
$box-shadow-inset: inset -2px -2px 6px hsla(0, 0%, 100%, .1),
    inset 2px 2px 6px rgba(0, 0, 0, .35);
$box-shadow-inset2: inset 0px 0px 4px hsla(0, 0%, 100%, 0.1), 
inset 0px 0px 4px rgba(0, 0, 0, 0.35);
// =====================================
// Радіуси меж
// =====================================
$border-radius: 16px;
$border-radius-2: 32px;

// =====================================
// Шрифти
// =====================================
$base-font-weight: 400;
$base-line-height: 1.5;
$base-font-size: 16px;

// =====================================
// Розміри
// =====================================
$scroll-bar-size: 8px;
$site-max-width: 1920px;
$site-min-width: 360px;
$grid-width: 1220px;
$grid-padding: 15px;

// =====================================
// Відступи
// =====================================
$section-padding-y: 50px;
$margin-bottom: 40px;

$base-transition-duration: 0.2s;

@function lighten($color, $percentage) {
    @return mix(white, $color, $percentage);
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin responsive($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}

@mixin container {
    margin-left: auto;
    margin-right: auto;
    max-width: $grid-width;
    padding-left: $grid-padding;
    padding-right: $grid-padding;
    width: 100%;
}

@mixin section {
    padding-bottom: $section-padding-y;
    padding-top: $section-padding-y;
}