@use '@/shared/styles/_variables.scss' as *;

.item {
    
    width: 44%;
    opacity: 0;

    @media (max-width:$grid-width) {
        width: 100%;
    }

    &_content {
        display: flex;
        flex-direction: column;
        gap: 25px;
        background-color: $c-primary-shade;
        border-radius: $border-radius;
        padding: $card-padding;
        height: 100%;
        box-shadow: $box-shadow-main;
        transition: all $base-transition-duration ease-in-out;
        
        &:hover {
            box-shadow: $box-shadow-hoover;
        }
    }

    &_title_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_title {
        color: $c-accent;
    }

    &_project {
        max-width: 460px;
        max-height: 230px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        position: relative;
        border-radius: $border-radius;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, .25);

        &_icon {
            width: 100%;
            border-radius: $border-radius;
            transition:$base-transition-duration;
            &:hover {
                transition: $base-transition-duration ease-in;
                transform: scale(1.1);
            }
        }
    }


    &_icon {
        $size: 50%;
        height: size;
        object-fit: contain;
        width: size;
    }

    &_description {
        min-height: 220px;
    }

    &_img_ul {
        margin-top: auto;
        display: flex;
        gap: 15px;
    }

    &_img_li {
        align-items: center;
        display: flex;
        justify-content: center;
        width: calc($icon-size*2);
        height: calc($icon-size*2);
        border-radius: $border-radius-2;
        box-shadow: $box-shadow-inset;
        background-color: $c-secondary;

        transition:0.08s;

        :hover {
            transition: all 0.08s ease-in-out;
            border: 3px dashed;
        }
    }
}