@use '../../shared/styles/variables' as *;

.base {
    @include section;

    .inner {
        @include container;
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: $margin-bottom;
        margin-bottom: $margin-bottom;
    }

    .content {
        width: 100%;
        padding: 15px;
    }

    .title {
        height: 180px;
        padding-right: 25px;
    }

    .macbook {
        transform: scaleX(-1);
    }

    .icon {
        border-radius: $border-radius;
        box-shadow: $box-shadow-hoover;
    }
}