@use '../../shared/styles/_variables.scss' as *;

.base{
    @include section;
    
    .inner{
        @include container;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    h2{
        margin-left: 12px;
    }
    .column{
        max-width: 550px;
    }
    .content{
        
    }

}