@use '@/shared/styles/_variables.scss' as *;

.base {
    @include section;

    .inner {
        @include container;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .content{
        width: 100%;
    }
    .timeline {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-left: 40px; 

        &::before {
            content: '';
            position: absolute;
            top: 13%;
            left: 17px;
            width: 6px;
            height: 75%;
            background-color: $c-accent; 
        }
    }
}