@use '../../../shared/styles/variables.scss' as *;


.card {
    $card-padding:20px;
    border-radius: $border-radius;
    font-size: 20px;
    padding: $card-padding;
    padding-left: calc($card-padding*3);
    position: relative;
    &:before {
        $size: 14px;
        background-color: $c-accent;
        border-radius: 25%; 
        content: "";
        height: $size;
        width: $size;
        left: $card-padding;
        position: absolute;
        top: calc($card-padding + .35em);
    }
}